{% extends 'errors.html' %}
{% load static %}

{% block feed-back %}

<div class="erroe_page_wrapper">
    <div class="errow_wrap">
        <div class="container text-center">
            <img src="{% static 'img/bak_hovers/sad.png'%}" alt="">
            <div class="error_heading  text-center">
                <h3 class="headline color_parpel2">500</h3>
            </div>
            <div class="col-md-8 offset-md-2 text-center">
                <p >We have tracked this issue and our team is on it</p>
            </div>
            <div class="error_btn  text-center">
                <a class=" default_btn parpel_bg2 " href="/">Back Home</a>
            </div>
        </div>
    </div>
</div>
    
{% endblock feed-back %}
    