<footer class="general-footer" style="background-image:url(assets/dist/img/footer-bg7.jpg)">

    <div class="footer-mask"></div>

    <div class="footer-inner">

        <div class="container">

            <div class="row">

                <div class="col-md-4 col-lg-6 col-sm-12 col-xs-12 footer-block">

                    <div class="">

                        <div class="footer-widget-content about-widget">

                            <div class="widget-title">

                                <h2>About Me</h2>

                            </div>

                            <div class="widget-about-site-logo">

                                <span>Blesi Diary</span>

                            </div>

                            {% if about %}
                            <div class="widget-content">
                            {% for me in about %}
                                <!-- <p>{{me.bio}}</p> -->
                                        
                                
                                        
                                
                            </div>

                            <!-- // widget-content -->

                            <div class="social-networks">

                                <ul class="social-links">
                                    
                                    {% if me.facebook %}
                                    <li><a href="{{me.facebook}}" target="_blank"></a></li>
                                    {% else %}
                                        
                                    {% endif %}

                                    
                                    {% if me.twitter %}
                                    <li><a href="{{me.twitter}}" target="_blank"></a></li>

                                    {% else %}
                                        
                                    {% endif %}
                                        
                                        
                                    
                                    {% if me.instagram %}
                                    <li><a href="{{me.instagram}}" target="_blank"></a></li>

                                    {% else %}
                                        
                                    {% endif %}
                                        
                                    {% if me.youtube %}
                                    <li><a href="{{me.youtube}}" target="_blank"></a></li>

                                    {% else %}
                                        
                                    {% endif %}

                                    {% if me.snapchat %}
                                    <li><a href="{{me.snapchat}}" target="_blank"></a></li>

                                    {% else %}
                                        
                                    {% endif %}
                                </ul>

                            </div>
                            {% endfor %}

                            {% else %}

                            {% endif %}
                        </div>

                        <!-- // footer-widget-content -->

                    </div>

                    <!-- // footer block -->

                </div>

                <!-- // col -->

                <div class="col-md-4 col-lg-6 col-sm-12 col-xs-12 footer-block">

                    <div class="">

                        <div class="footer-widget-content">

                            <div class="widget-title">

                                <h2>Categories</h2>

                            </div>

                            <div class="widget-content">

                                <ul class="widget-category-listings">
                                    
                                    {% if categories %}
                                        
                                        
                                    {% for category in categories %}
                                    <li><a href="{% url 'single_category' category.id%}">{{category.category_name}}</a></li>
                                        
                                    {% endfor %}
                                    {% else %}

                                    No categories yet
                                        
                                    {% endif %}

<!-- 
                                    <li><a href="#">Health</a></li>

                                    <li><a href="#">Article</a></li>

                                    <li><a href="#">Travel</a></li>

                                    <li><a href="#">Uncategorised</a></li> -->

                                </ul>

                            </div>

                            <!-- // widget-content -->

                        </div>

                        <!-- // footer-widget-content -->

                    </div>

                    <!-- // footer block -->

                </div>

                <!-- // col -->

                

                <!-- // col -->

            </div>

            <!-- // row -->

            <div class="copyright-and-nav-row">

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        <div class="copyrights">

                            <p>Copyrights @ 2021 Blesi Diary</p>

                        </div>

                        <!-- // copyrights -->

                    </div>

                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        <ul class="footer-navigation">

                            <li><a href="#">Lifestyle</a></li>

                            <li><a href="#">Health</a></li>

                            <li><a href="#">Travel</a></li>

                            <li><a href="#">Article</a></li>

                        </ul>

                    </div> -->

                </div>

                <!-- // row -->

            </div>

            <!-- // copyright-and-nav-row -->

        </div>

        <!-- // container -->

    </div>

    <!-- // footer inner -->

</footer>
