<header class="general-header header-layout-one">
    <div class="general-header-inner">
        <div class="header-top-wrapper">
            <div class="header-top-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <form action="{% url 'search_article' %}" method="GET">
                                <!-- {% csrf_token %} -->
                            <div class="search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="search" name="search" placeholder="Search ..........">
                            </div>
                            </form>
                        </div>
                        <!-- // col -->
                        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="social-networks">
                                <ul class="social-links">
                                    <li><a href="facebook.html"></a></li>
                                    <li><a href="twitter.html"></a></li>
                                    <li><a href="instagram.html"></a></li>
                                    <li><a href="youtube.html"></a></li>
                                    <li><a href="snapchat.html"></a></li>
                                </ul>
                            </div>
                            // social-networks
                        </div> -->
                        <!-- // col -->
                    </div>
                    <!-- // row -->
                </div>
                <!-- // container -->
            </div>
            <!-- // header-top-inner -->
        </div>
        <!-- // header-top-wrapper -->
        <div class="container">
            <div class="site-info">
                <h1 class="site-title">Optimistic blog</h1>
                <!--  <img src="./assets/dist/img/logo.png" alt="logo"> -->
            </div>
            <!-- // site-info -->
        </div>
        <!-- // container -->
        <nav class="main-nav layout-one">
            <div id="main-nav" class="stellarnav">
                <ul>
                    <li><a href="/">Home</a>
                        <!-- <ul>
                            <li>
                            <li><a href="index.html">Home Layout One</a></li>
                            <li><a href="index-two.html">Home Layout Two</a></li>
                            <li><a href="index-three.html">Home Layout Three</a></li>
                            <li><a href="index-four.html">Home Layout Four</a></li>
                            <li><a href="index-four-full-width.html">Home Layout Four + Full Width</a></li>
                    </li>
                </ul> -->
                </li>
                <li><a href="{% url 'all-articles'%}">All Posts</a>
                    <!-- <ul>
                        <li><a href="single-page-layout-one.html">Single Page Layout One</a></li>
                        <li><a href="single-page-layout-two.html">Single Page Layout Two + Image</a></li>
                        <li><a href="single-page-layout-two-video.html">Single Page Layout Two + Video</a></li>
                        <li><a href="single-page-layout-three.html">Single Page Layout Three</a></li>
                    </ul> -->
                </li>
                <li><a href="#">Contact Us</a>
                    <!-- <ul>
                        <li>
                        <li><a href="404.html">404 page</a></li>
                        <li><a href="#">Single Page</a>
                            <ul>
                                <li><a href="single-page-layout-one.html">Single Page Layout One</a></li>
                                <li><a href="single-page-layout-two.html">Single Page Layout Two + Image</a></li>
                                <li><a href="single-page-layout-two-video.html">Single Page Layout Two + Video</a>
                                </li>
                                <li><a href="single-page-layout-three.html">Single Page Layout Three</a></li>
                            </ul>
                        </li>
                        <li><a href="search.html">Search Page</a></li>
                </li>
                </ul> -->
                </li>
                <!-- <li><a href="#">Lifestyle</a></li> -->
                <!-- <li><a href="#">Health</a></li> -->
                
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                    
                {% endif %}
                    

                </ul>
            </div>
            <!-- .stellar-nav -->
        </nav>
    </div>
    <!-- // general-header-inner -->
</header>