{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon_io/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon_io/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon_io/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'assets/favicon_io/site.webmanifest'%}">
    <title>BlesiDiary-Dashboard</title>

    {% include 'includes/backend/head_links.html' %}
</head>

<body class="crm_body_bg">



    <!-- main content part here -->

    <!-- sidebar  -->
    {% include 'includes/backend/sidebar.html' %}
    <!--/ sidebar  -->


    <section class="main_content dashboard_part large_header_bg">
        <!-- menu  -->
        {% include 'includes/backend/topbar.html' %}
        <!--/ menu  -->
        <div class="main_content_iner overly_inner ">
            <div class="container-fluid p-0 ">
                <!-- page title  -->
                
                {% block content %}
                <!-- Dynamic contents-->
                {% endblock content %}
                    
            </div>
        </div>

        <!-- footer part -->
        {% include 'includes/backend/footer.html' %}
    </section>
    <!-- main content part end -->

    <!-- ### CHAT_MESSAGE_BOX   ### -->

    
    {% block chat %}
        <!-- avaliable in partials -->
    {% endblock chat %}
        

    <!--/### CHAT_MESSAGE_BOX  ### -->

    <div id="back-top" style="display: none;">
        <a title="Go to Top" href="#">
            <i class="ti-angle-up"></i>
        </a>
    </div>

    <!-- footer  -->
    {% include 'includes/backend/scripts.html' %}
</body>

</html>