{% extends 'authentication.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block auth %}

<div class="col-sm-12 login-section-wrapper">
    <div class="brand-wrapper">
      <a href="/">
      <img src="{% static 'assets/dist/img/logo.svg' %}" alt="logo" class="logo">
      </a>
    </div>
    <div class="login-wrapper container">
        
        {% for message in messages %}
            <p class="btn btn-success">{{message}}</p>
        {% endfor %}
            
      <h1 class="login-title">Register</h1>
      <form action="" method="POST">
          {% csrf_token %}
          {{form|crispy}}
          <input name="register" id="login" class="btn btn-block login-btn" type="submit" value="Register">
      </form>
      <p class="login-wrapper-footer-text">Already have an account? <a href="{% url 'login' %}" class="text-danger">Login</a></p>
    </div>
  </div>
  <!-- <div class="col-sm-6 px-0 d-none d-sm-block">
    <img src="{% static 'assets/dist/img/login.jpg' %}" alt="login image" class="login-img">
</div> -->
    
    
{% endblock auth %}
    